<div class="row">
	<div class="large-10 large-2-offset columns">
		<h3><%=@edible.name%>
			<small> edible
				<% if current_user && current_user.admin? %>
					<%=link_to('edit', edit_merchant_edible_path(Merchant.find(params[:merchant_id]), @edible))%>
				<% end %>
			</small>
		</h3>
		<div class="panel">
		<span>Price: <%=@edible.price%></span>
		</div>
		<p><%=@edible.description%></p>
		<%= render 'partials/mantis_ad_network' %>
	</div>
</div>

