<div class="row">
	<div class="large-11 large-offset-1 columns">
		<h1 class="text-center">Admin Panel</h1>
		<div class="text-center">
			<h3><%=link_to("Add a new Flower", new_flower_path)%></h3>
			<h3><%=link_to("Add a new Merchant", new_merchant_path)%></h3>
			<h3><%=link_to("See all Merchants", merchants_path)%></h3>
		</div>
		<div class="row">
			<div class="large-6 columns">
				<h3>Add a new Concentrate <small>Pick a company</small></h3>
				<ul>
					<% @concentrates.each do |merch| %>
					<li>
					<%=link_to(merch.name, new_merchant_concentrate_path(merch))%>
					<span class="right"><%=link_to("Edit company", edit_merchant_path(merch))%></span>
					</li>
					<% end %>
				</ul>
			</div>
			<div class="large-6 columns">
				<h3>Edible Companies <small>Pick a company</small></h3>
				<ul>
					<% @edibles.each do |merch| %>
					<li><%= link_to(merch.name, new_merchant_edible_path(merch))%> 
					<span class="right"><%=link_to("Edit company", edit_merchant_path(merch))%></span>
					</li>
					<% end %>
				</ul>
			</div>
		</div>
		
		
	</div>
</div>