
<div class="row">
	<div class="large-10 large-offset-1 columns">
		<h3><%=@merchant.name%><small> concentrates</small></h3>
		<table>
			<thead>
				<tr>
					<th>Shatter - Wax - Budder - Moonrock - CO<sup>2</sup> - Solventless</th>
					<th>Strain</th>
					<th>Description</th>
					<td>Processing fees</td>
				</tr>
			</thead>
			<tbody>
				<%@merchant.concentrates.each do |concentrate|%>
				<tr>
					<td><%=concentrate.kind%></td>
					<td><%=link_to(concentrate.strain, merchant_concentrate_path(@merchant, concentrate))%></td>
					<td>$<%=concentrate.quantity_price%></td>
					<td>$<%=concentrate.fees%></td>
				</tr>		
				<% end %>
			</tbody>
		</table>

		<div data-mantis-zone='cannabrokersnetwork'></div>


	</div>
</div>


<script type="text/javascript">
	MANTIS = {
		site: '54272a6b68e1050b00cc2528'
	};
</script>
<script type="text/javascript">
	var z = document.createElement("script");
	z.type = "text/javascript";
	z.async = true;
	z.src = "//assets.mantisadnetwork.com/mantodea.min.js";
	var s = document.getElementsByTagName('head')[0];
	s.parentNode.insertBefore(z, s);
</script>