
<div class="row">
	<div class="large-10 large-offset-1 columns">
		<h3><%=@merchant.name%><small> concentrates</small></h3>
		<% if current_user && current_user.admin? %>
			<%=link_to("See All Concentrates - Including inactive", merchant_concentrates_all_path(@merchant))%>
		<% end %>
		<table>
			<thead>
				<tr>
					<th>Type</th>
					<th>Strain</th>
					<th>Price</th>
					<td>Processing fees</td>
					<th>Recreational / Medical</th>
					<% if current_user && current_user.admin? %>
						<th>Edit</th>
					<% end %>
				</tr>
			</thead>
			<tbody>
				<%@merchant.concentrates.where(display: true).each do |concentrate|%>
				<tr>
					<td><%=concentrate.kind%></td>
					<td><%=link_to(concentrate.strain, merchant_concentrate_path(@merchant, concentrate))%></td>
					<td><%=concentrate.quantity_price%></td>
					<td><%=concentrate.fees %></td>
					<td><%=concentrate.rec_med %></td>
					<% if current_user && current_user.admin? %>
						<td><%=link_to("Edit", edit_merchant_concentrate_path(@merchant, concentrate))%></td>
					<% end %>
				</tr>
				<% end %>
			</tbody>
		</table>

		<%= render 'partials/mantis_ad_network' %>


	</div>
</div>