
<div class="row">
	<div class="large-11 large-offset-1 columns">
		<h3>Equipment - Liceneses - Property</h3>
		<% if current_user && current_user.admin? %>
			<%=link_to("See All Equipment - Including inactive", equipment_all_path)%>
		<% end %>
		<table>
			<thead>
				<tr>
					<th>Item name</th>
					<th>Description</th>
					<th>Kind</th>
					<th>Price</th>
					<% if current_user && current_user.admin? %>
						<th>Edit</th>
					<% end %>
				</tr>
			</thead>
			<tbody>
			<%@equipments.each do |equipment|%>
				<tr>
					<td><%=link_to(equipment.item, equipment_path(equipment))%></td>
					<td><%=equipment.description[0..40]%>...</td>
					<td><%=equipment.kind%></td>
					<td><%=equipment.price%></td>
					<% if current_user && current_user.admin? %>
						<td><%=link_to("Edit", edit_equipment_path(equipment))%></td>
					<% end %>
				</tr>
				<% end %>
			</tbody>
		</table>

		<%= render 'partials/mantis_ad_network' %>

	</div>
</div>
