<%= form_for [@merchant, @concentrate] do |f| %>
	<% if @concentrate.errors.any? %>
		<div id="error_explanation">
			<h2><%=pluralize(@concentrate.errors.count, "error")%> prevented this Concentrate from being saved:</h2>
			<ul>
				<% @concentrate.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
<p>
	<%=f.label :kind %>
	<%=f.select :kind, Concentrate.all.collect{ |m| m.kind }.uniq %>
</p>

<p>
	<%=f.label :strain %>
	<%=f.text_field :strain %>
</p>

<p>
	<%=f.label :"Quantity / Price" %>
	<%=f.text_field :quantity_price %>
</p>

<p>
	<%=f.label :fees %>
	<%=f.text_field :fees %>
</p>

<p>
	<%= f.label :display %>
	<%= f.check_box :display %>
</p>

<%=f.submit class: "button" %>
<% end %>