<%= form_for @flower do |f| %>
<% if @flower.errors.any? %>
		<div id="error_explanation">
			<h2><%=pluralize(@flower.errors.count, "error")%> prevented this flower from being saved:</h2>
			<ul>
				<% @flower.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
<p>
	<%=f.label :strain %>
	<%=f.text_field :strain %>
</p>

<p>
	<%= f.label :merchant %>
	<%= f.collection_select :merchant, Merchant.all, :id, :name, {include_blank: true} %>
</p>

<p>
	<%= f.label :kind %>
	<%= f.select :kind, Flower.all.collect {|flower| flower.kind}.uniq %>
</p>

<p>
	<%= f.label :description %>
	<%= f.text_area :description%>
</p>

<p>
	<%= f.label :"Quantity / Price"%>
	<%= f.text_field :"quantity_price"%>
</p>

<p>
	<%= f.label :"Recrational / Medical" %>
	<%= f.text_field :rec_med %>
</p>

<p>
	<%= f.label :display %>
	<%= f.check_box :display %>
</p>

<%= f.submit class:"button" %>

<% end %>