<%=form_for @merchant do |f| %>
	<% if @merchant.errors.any? %>
		<div id="error_explanation">
			<h2><%=pluralize(@merchant.errors.count, "error")%> prevented this Merchant from being saved:</h2>
			<ul>
				<% @merchant.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
			<p>
				<%=f.label :name %>
				<%=f.text_field :name %>
			</p>

			<p>
				<%=f.label :description %>
				<%=f.text_area :description %>
			</p>

			<p>
				<%=f.label :phone %>
				<%=f.phone_field :phone %>
			</p>

			<p>
				<%=f.label :email %>
				<%=f.email_field :email %>
			</p>

			<p>
				<%=f.label :premium_merchant? %>
				<%=f.check_box :premium %>
			</p>

			<p>
				<%=f.label :"Recreational / Medical" %>
				<%=f.text_field :rec_med %>
			</p>

			<p>
				<%=f.submit class: "button"%>
			</p>
		<% end %>