<nav>

 <div class="twelve columns header_nav">
   <div class="row">
    <% flash.each do |name, msg| %>
      <%=content_tag :span, msg, class: "label alert" %>
    <% end %>
    <ul id="menu-header" class="nav-bar horizontal">
      
      <li class="active"><%=link_to("Home", root_path)%></li> 
      
      <li><%=link_to("Flowers", flowers_path)%></li>
      <li><%=link_to("Edibles", merchants_edibles_path)%></li> 
      <li><%=link_to("Concentrates", merchants_concentrates_path)%></li>
      <li><a href="#"><strong>720-518-6733</strong></a></li> 
      
    </ul>
    
    <script type="text/javascript">
         //<![CDATA[
         $('ul#menu-header').nav-bar();
          //]]>
        </script>
        
      </div>  
    </div>
    
  </nav>