
<div class="row">
	<div class="large-11 large-offset-1 columns">
		<h3>Flower</h3>
		<% if current_user && current_user.admin? %>
			<%=link_to("See All Flowers - Including inactive",flowers_all_path)%>
		<% end %>
		<table>
			<thead>
				<tr>
					<th>Strain name</th>
					<th>Sativa - Indica - High CBD</th>
					<th>Description</th>
					<th>Quantity</th>
					<% if current_user && current_user.admin? %>
						<th>Edit</th>
					<% end %>
				</tr>
			</thead>
			<tbody>
			<%@flowers.each do |flower|%>
				<tr>
					<td><%=link_to(flower.strain, flower_path(flower))%></td>
					<td><%=flower.kind%></td>
					<td><%=flower.description[0..40]%>...</td>
					<td><%=flower.quantity_price%></td>
					<% if current_user && current_user.admin? %>
						<td><%=link_to("Edit", edit_flower_path(flower))%></td>
					<% end %>
				</tr>		
				<% end %>
			</tbody>
		</table>

		<%= render 'partials/mantis_ad_network' %>

	</div>
</div>
