<div class="row">
	<div class="large-10 large-2-offset columns">
		<h3><%=@flower.strain%>
			<small> flower
				<% if current_user && current_user.admin? %>
					<%=link_to('edit', edit_flower_path(@flower))%>
				<% end %>
			</small>
		</h3>
		<div class="panel">
			<span>Price/Quantity: <%=@flower.quantity_price%></span>
			<span class="right"><%=@flower.kind%> </span>
		</div>
		<p><%=@flower.description%></p>
		<%= render 'partials/mantis_ad_network' %>
	</div>
</div>
