      
<!-- ######################## Header ######################## -->

<header>
  <div class="row">
    <div class="text-center">
    <%=image_tag('cbkrs.png')%>
    <p>Featured Merchant:</p>
    <h3><%=link_to(@premium_merchant.name, merchant_path(@premium_merchant))%></h3>
    </div>
  </div>
</header>


<!-- ######################## Section ######################## -->

<section class="section_light">

  <div class="row">

   <div class="four columns">
    <%=link_to(image_tag('cannabis site.jpg',class: "shadow"), flowers_path)%>
    <h3><%=link_to("Flowers", flowers_path)%></h3>
    <p>Through our Wholesale Network we have the resources &amp; connections to solve your flower inventory needs. Sativa, Indica, Hybrid, CBD</p>
  </div>


  <div class="four columns">
    <%=link_to(image_tag('concentrates.jpg', class: "shadow"), merchants_concentrates_path)%>
    <h3><%=link_to("Concentrates", merchants_concentrates_path)%></h3>
    <p>A complete listing of licensed edible companies, with their respective menus, along with the ability to seamlessly place an order.</p>
  </div>


  <div class="four columns">
    <%=link_to(image_tag("edibles site.jpg", class: "shadow"), merchants_edibles_path) %>
    <h3><%=link_to("Edibles", merchants_edibles_path)%></h3>
    <p>Concentrates available on the wholesale market along with a complete list of licensed concentrate processors.</p>
  </div>

</div>

</section>

<!-- ######################## Section ######################## -->

<section  class="panel dark ">

  <div class="row text-center"> 

    <h2>Contact Us</h2>
    <h4><a href="mailto:bamabterry@gmail.com">bamabterry@gmail.com</h4>
    <h4>720-518-6733</h4>     
  </div>

</section>

<!-- ######################## Section ######################## -->

<section class="section_main">

  <h2 style="text-align:center"></h2>


  <div class="row">

  

  </div>


</section>

