<!-- ######################## Header ######################## -->

<header>
  <div class="text-center">
    <%=image_tag('cbkrs.png', class: "logo")%>
  </div>
  <div class="row">
    <div class="small-4 small-centered columns">
      <div class="text-center">
        <h5 class="subheader">Featured Merchant:</h5>
        <h3><%=link_to(@premium_merchant.name, merchant_path(@premium_merchant))%></h3>
      </div>
    </div>
  </div>

</header>


<!-- ######################## Section ######################## -->

<section class="section_light">

  <div class="row">

   <div class="four columns">
    <%=link_to(image_tag('cannabis site.jpg',class: "shadow"), flowers_path)%>
    <h3><%=link_to("Flowers", flowers_path)%></h3>
    <p>Available wholesale cannabis on the licensed recreational and medical cannabis market.</p>
  </div>


  <div class="four columns">
    <%=link_to(image_tag('concentrates.jpg', class: "shadow"), merchants_concentrates_path)%>
    <h3><%=link_to("Concentrates", merchants_concentrates_path)%></h3>
    <p>Licensed concentrate producer listings along with available concentrates on the licensed recreational and medical cannabis market.</p>
  </div>


  <div class="four columns">
    <%=link_to(image_tag("edibles site.jpg", class: "shadow"), merchants_edibles_path) %>
    <h3><%=link_to("Edibles", merchants_edibles_path)%></h3>
    <p>A complete listing of licensed edible companies, with their respective menus.</p>
  </div>

</div>

</section>

<!-- ######################## Section ######################## -->

<section  class="panel dark ">

  <div class="row text-center"> 

    <h2>Contact Us</h2>
    <h4><a href="mailto:bterry@cannabrokersnetwork.com">bterry@cannabrokersnetwork.com</h4>
    <h4>720-518-6733</h4>     
  </div>

</section>

<!-- ######################## Section ######################## -->

<section class="section_main">


  <div class="12-large columns">

  <div class="text-center"><%= render 'partials/mantis_ad_network' %></div>

  </div>


</section>

