<div class="row">
	<div class="large-10 large-offset-1 columns">
		<h3>Concentrate Companies</h3>
		<table>
			<thead>
				<tr>
					<th>Company</th>
					<th>Website</th>
					<th>Phone #</th>
					<th>Email</th>
				</tr>
			</thead>
			<tbody>
				<% @merchants.each do |merchant| %>
				<tr>
					<td><%=link_to(merchant.name, merchant_concentrates_path(merchant))%>
						<%if merchant.premium %>
					<span class="label success radius">premium</span>
					<%end%>
					</td>
					<td><a href="<%=merchant.description%>"><%=merchant.description%></a></td>
					<td><%=merchant.phone%></td>
					<td><%=merchant.email%></td>
				</tr>
				<%end%>
			</tbody>
		</table>
		<%= render 'partials/mantis_ad_network' %>
	</div>
</div>
