
<div class="row">
	<div class="large-10 large-offset-1 columns">
		<h3>All Merchants</h3>
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>add flower</th>
					<th>add edible</th>
					<th>add concentrate</th>
					<th>edit</th>
				</tr>
			</thead>
			<tbody>
			<% @merchants.each do |merch|%>
				<tr>
					<td><%=link_to(merch.name, merchant_path(merch))%></td>
					<td><%=link_to("add Flower", new_flower_path)%></td>
					<td><%=link_to("add Edible", new_merchant_edible_path(merch))%></td>
					<td><%=link_to("add Concentrate", new_merchant_concentrate_path(merch))%></td>
					<td><%=link_to("Edit Mechant", edit_merchant_path(merch))%></td>
				</tr>
			<% end %>
			</tbody>
		</table>

	

	</div>
</div>

